<?xml version="1.0"?>
<!--TODO parametrize the versions of the tool reading from some global variable-->
<launch>
	

  
 


  <!--PAD control -->
  <arg name="pad_ns" default="$(optenv PAD_ID kuka_pad)"/>

  <group ns="$(arg pad_ns)">
    <include file="$(find robotnik_trajectory_pad)/launch/robotnik_trajectory_pad.launch"/>
  </group>
  
 

</launch>
